.integration {
    background-image: url("../img/integration.png");
    background-color: $integration-background-color;
    border-radius: 20px;
    color: $light-text;
    padding: 85px 160px;
    box-sizing: border-box;
    position: relative;
    background-position-x: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 66px;

    &__img {
        width: 120px;
        position: absolute;
        left: 30px;
        top: 64px;
    }

    &__info {
        max-width: 460px;

        h2 {
            margin-bottom: 28px;
        }

        p {
            margin-bottom: 38px;
        }
    }

    @media (max-width: 1000px) {
        padding: 84px 34px;

        &__img {
            display: none;
        }
    }

    @media (max-width: 900px) {
        padding: 50px 34px 400px;
        background-image: url("../img/integration-2.png");

        background-position-x: center;
        background-position-y: bottom;
    }

    @media (max-width: 500px) {
        padding: 50px 34px 250px;
    }
}