$dark-black: #080833;
$black: #1C1A1A;
$dark-blue: #314456;
$gray: #A9B3BD;
$light-green: #F0FAF2;
$light-blue: #ECF5FF;
$light-purple: #F7F5FF;
$light-gray: #F9F9F9;
$light-gray-2: #EBEBEB;
$white: #ffffff;
