@import 'colours';

$main-text: $dark-black;
$light-text: $white;
$button-secondary-border-color: $black;
$button-primary-background: $black;
$button-primary-border-color: $black;
$striked-text: $gray;
$main-background-color: $light-gray;
$card-background-color: $white;
$integration-background-color: $dark-blue;
$list-point-color: $gray;
$footer-line-color: $light-gray-2;
